<%= form_with(model: prescription_drugs_type) do |form| %>
  <% if prescription_drugs_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescription_drugs_type.errors.count, "error") %> prohibited this prescription_drugs_type from being saved:</h2>

      <ul>
        <% prescription_drugs_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idn %>
    <%= form.hidden_field :idn %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :description_EN %>
    <%= form.text_field :description_EN %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
