<%= form_with(model: patient_aacc_analytic) do |form| %>
  <% if patient_aacc_analytic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient_aacc_analytic.errors.count, "error") %> prohibited this patient_aacc_analytic from being saved:</h2>

      <ul>
        <% patient_aacc_analytic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idn %>
    <%= form.number_field :idn %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_area :value %>
  </div>

  <div class="field">
    <%= form.label :physycian_eval %>
    <%= form.text_area :physycian_eval %>
  </div>

  <div class="field">
    <%= form.label :parameter_id %>
    <%= form.text_field :parameter_id %>
  </div>

  <div class="field">
    <%= form.label :analytics_id %>
    <%= form.text_field :analytics_id %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.text_field :patient_id %>
  </div>

  <div class="field">
    <%= form.label :aacc_id %>
    <%= form.text_field :aacc_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
