<p id="notice"><%= notice %></p>

<p>
  <strong>Idn:</strong>
  <%= @analytic.idn %>
</p>

<p>
  <strong>Value:</strong>
  <%= @analytic.value %>
</p>

<p>
  <strong>Physician eval:</strong>
  <%= @analytic.physician_eval %>
</p>

<p>
  <strong>Received date:</strong>
  <%= @analytic.received_date %>
</p>

<p>
  <strong>Analytics status:</strong>
  <%= @analytic.analytics_status_id %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @analytic.physician_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @analytic.type_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @analytic.patient_id %>
</p>

<p>
  <strong>Aacc:</strong>
  <%= @analytic.aacc_id %>
</p>

<%= link_to 'Edit', edit_analytic_path(@analytic) %> |
<%= link_to 'Back', analytics_path %>
