<%= form_with(model: patient_aacc_symptom) do |form| %>



<h1>Exploraciones Fisica y Cardiaca</h1>




  <div class="small-container field">
    <%= form.hidden_field :aacc_id %>
  </div>


  <hr>

    
  <div class="small-container field">
        <%=form.label :s1,"Talla (*)" %>
        
        <%=form.text_field :s1 %>
        
    </div>    
    
  <div class="small-container field">
        <%=form.label :s2,"Peso (*)" %>
        <%=form.text_field :s3 %>
    </div>    
    
  <div class="small-container field">
        <%=form.label :s3,"Tensión Arterial (*)" %>
        <%=form.text_field :s3 %>
    </div>    
    
    <hr width=400>
    
  <div class="small-container field">
        <%=form.label :s4,"Focalidad Neurológica (*)" %>
        <%=form.select(:s4, options_for_select([['No Explorado', 'No Explorado'],['Si', 'Sí'], ['No', 'No'],['Desconocido', 'Desconocido']]), prompt: "Please Select")%>
    </div>    
    
  <div class="small-container field">
        <%=form.label :s5,"Crisis Comiciales (*)" %>
        <%=form.select(:s5, options_for_select([['No Explorado', 'No Explorado'],['Si', 'Sí'], ['No', 'No'],['Desconocido', 'Desconocido']]), prompt: "Please Select")%>
    </div>    
    
  <div class="small-container field">
        <%=form.label :s6,"Temblor (*)" %>
        <%=form.select(:s6, options_for_select([['No Explorado', 'No Explorado'],['Si', 'Sí'], ['No', 'No'],['Desconocido', 'Desconocido']]), prompt: "Please Select")%>
    </div>    
    
  <div class="small-container field">
        <%=form.label :s7,"Parkinsonismo (*)" %>
        <%=form.select(:s7, options_for_select([['No Explorado', 'No Explorado'],['Si', 'Sí'], ['No', 'No'],['Desconocido', 'Desconocido']]), prompt: "Please Select")%>
    </div>    
    
  <div class="small-container field">
        <%=form.label :s8,"Alteración de la Marcha (*)" %>
        <%=form.select(:s8, options_for_select([['No Explorado', 'No Explorado'],['Si', 'Sí'], ['No', 'No'],['Desconocido', 'Desconocido']]), prompt: "Please Select")%>
    </div>    
    
  <div class="small-container field">
        <%=form.label :s9,"Incontinencia de Esfínteres (*)" %>
        <%=form.select(:s9, options_for_select([['No Explorado', 'No Explorado'],['Si', 'Sí'], ['No', 'No'],['Desconocido', 'Desconocido']]), prompt: "Please Select")%>
    </div>
    <hr width=400>
    
  <div class="small-container field">
        <%=form.label :s10,"Soplos Carotideos (*)" %>
        <%=form.select(:s10, options_for_select([['No Explorado', 'No Explorado'],['Si', 'Sí'], ['No', 'No'],['Desconocido', 'Desconocido']]), prompt: "Please Select")%>
    </div>    
    
  <div class="padding">
    <button name="button" type="submit" class="btn btn-primary">Almacenar Exploraciones Física y Cardiaca </button>
    </div>
    <hr>
    
<% end %>
<br>


