<%= form_with(model: patient_aacc_symptom) do |form| %>
  <% if patient_aacc_symptom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient_aacc_symptom.errors.count, "error") %> prohibited this patient_aacc_symptom from being saved:</h2>

      <ul>
        <% patient_aacc_symptom.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<h1>Sintomatología Cognitiva</h1>



  <div class="field">
    <%= form.label :aacc_id %>
    <%= form.hidden_field :aacc_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <hr>
  
    <div>
        <%=form.label :s1,"Alteración de la memoria" %>
        <%=form.select(:s1, options_for_select([['Si', 'Sí'], ['No', 'No'],['No Explorado', 'No Explorado']]), prompt: "Please Select")%>
    </div>    
    <div>
        <%=form.label :s2,"Desorientación" %>
        <%=form.select(:s2, options_for_select([['Si', 'Sí'], ['No', 'No'],['No Explorado', 'No Explorado']]), prompt: "Please Select")%>
    </div>
    <div>
        <%=form.label :s3,"Trastorno del Lenguaje (Afasia)" %>
        <%=form.select(:s3, options_for_select([['Si', 'Sí'], ['No', 'No'],['No Explorado', 'No Explorado']]), prompt: "Please Select")%>
    </div>
    <div>
        <%=form.label :s4,"Trastorno Motor (Apraxia)" %>
        <%=form.select(:s4, options_for_select([['Si', 'Sí'], ['No', 'No'],['No Explorado', 'No Explorado']]), prompt: "Please Select")%>
    </div>
    <div>
        <%=form.label :s5,"Trastorno Sensitivo (Agnosia)" %>
        <%=form.select(:s5, options_for_select([['Si', 'Sí'], ['No', 'No'],['No Explorado', 'No Explorado']]), prompt: "Please Select")%>
    </div>
    <div>
        <%=form.label :s6,"Alteración de las Funciones Ejecutivas" %>
        <%=form.select(:s6, options_for_select([['Si', 'Sí'], ['No', 'No'],['No Explorado', 'No Explorado']]), prompt: "Please Select")%>
    </div>
    <div>
        <%=form.label :s7,"Trastorno del Razonamiento y Abstracción" %>
        <%=form.select(:s7, options_for_select([['Si', 'Sí'], ['No', 'No'],['No Explorado', 'No Explorado']]), prompt: "Please Select")%>
    </div>
    <div>
        <%=form.label :s8,"Alteración de las Funciones Visuoespaciales" %>
        <%=form.select(:s8, options_for_select([['Si', 'Sí'], ['No', 'No'],['No Explorado', 'No Explorado']]), prompt: "Please Select")%>
    </div>
    <div>
        <%=form.submit "Almacenar Sintomatología Cognitiva"%>
    </div> 
    <hr>
    
<% end %>
<h1>Realización de Tests</h1>
<%=link_to "Realizar Test Informador "%>
patient_aacc_patient_aacc_tests

  <li class="nav-item">
    <%= link_to "patient_aacc_patient_aacc_tests",new_patient_aacc_patient_aacc_test_url(:exploration_type_id => 1, :test_id => 2)%>
  </li>
  <li class="nav-item">
    <%= link_to "Realizar Test Informador",patient_aacc_new_test_informador_url(:exploration_type_id => 2, :test_id => 5)%>
  </li>
  <li class="nav-item">
    <%= link_to "Realizar Test Minimental",patient_aacc_new_test_minimental_url(:exploration_type_id => 2, :test_id => 7)%>
  </li>
  <li class="nav-item">
    <%=link_to "Realizar Test MEC",patient_aacc_new_test_mec_url(:exploration_type_id => 2, :test_id => 6)%>
  </li>
  <li class="nav-item">
    <%=link_to "Realizar Test de Pfeiffer",patient_aacc_new_test_pfeiffer_url(:exploration_type_id => 2, :test_id => 8)%>
  </li>
  <li class="nav-item">
  
    <%=link_to "Realizar Test del Reloj",patient_aacc_new_test_reloj_url(:exploration_type_id => 2, :test_id => 9)%>
  </li>
    <%=%>
    <%=%>
    <%=%>
    <%=%>
    TABLA Tests

    <h1>Patient Aacc Tests</h1>

<table>
  <thead>
    <tr>
      <th>Idn</th>
      <th>Answers</th>
      <th>Score</th>
      <th>Exploration type</th>
      <th>Test</th>
      <th>Aacc</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient_aacc_tests.each do |patient_aacc_test| %>
      <tr>
        <td><%= patient_aacc_test.idn %></td>
        <td><%= patient_aacc_test.answers %></td>
        <td><%= patient_aacc_test.score %></td>
        <td><%= patient_aacc_test.exploration_type_id %></td>
        <td><%= patient_aacc_test.test_id %></td>
        <td><%= patient_aacc_test.aacc_id %></td>
        <td><%= patient_aacc_test.patient_id %></td>
        <td><%= link_to 'Show', patient_aacc_test %></td>
        <td><%= link_to 'Edit', edit_patient_aacc_test_path(patient_aacc_test) %></td>
        <td><%= link_to 'Destroy', patient_aacc_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient Aacc Test', new_patient_aacc_test_path %>


