<h1>New Patient Aacc Symptom</h1>
<p id="notice"><%= notice %></p>


  <div class="container-fluid">
    <span class="navbar-text">
     <div>Paciente: <%= @paciente.surname %> 
        <%= @paciente.name %> 
        <%=  @patient_aacc_symptom.id %> </div>
    </span>
  </div>
<%= render 'form', patient_aacc_symptom: @patient_aacc_symptom %>

<%= link_to 'Back', patient_aacc_symptoms_path %>
