<p id="notice"><%= notice %></p>

<h1>Diagnosis Cis</h1>

<table>
  <thead>
    <tr>
      <th>Idn</th>
      <th>Description</th>
      <th>Description en</th>
      <th>Erase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnosis_cis.each do |diagnosis_ci| %>
      <tr>
        <td><%= diagnosis_ci.idn %></td>
        <td><%= diagnosis_ci.description %></td>
        <td><%= diagnosis_ci.description_EN %></td>
        <td><%= diagnosis_ci.erase %></td>
        <td><%= link_to 'Show', diagnosis_ci %></td>
        <td><%= link_to 'Edit', edit_diagnosis_ci_path(diagnosis_ci) %></td>
        <td><%= link_to 'Destroy', diagnosis_ci, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnosis Ci', new_diagnosis_ci_path %>
