<p id="notice"><%= notice %></p>
<h1>ADMIN</h1>
<hr>
  <li class="nav-item">
    <%= link_to 'HABITOS', habits_url %>
  </li>
  <li class="nav-item">
    <%= link_to 'PROFESIONES', professions_url %>
  </li>
  <li class="nav-item">
    <%= link_to 'TIPOS DE EXPLORACIÓN', exploration_types_url %>
  </li>
  <li class="nav-item">
    <%= link_to 'TIPOS DE FÁRMACOS', prescription_drugs_types_url %>
  </li>
  <li class="nav-item">
    <%= link_to 'TESTS', tests_url %>
  </li>
  <li class="nav-item">
    <%= link_to 'TIPOS DE PRUEBAS COMPLEMENTARIAS', complementary_tests_types_url %>
  </li>
  <li class="nav-item">
    <%= link_to 'DIAGNOSIS CI', diagnosis_cis_url %>
  </li>
  <li class="nav-item">
    <%= link_to 'DIAGNOSIS DEMENTIA', diagnosis_dementia_url %>
  </li>
  <li class="nav-item">
    <%= link_to 'DIAGNOSIS TYPE', diagnosis_types_url %>
  </li>