<%= form_with(model: patient_aacc_prescription) do |form| %>


  <div class="field">
    <%= form.label :idn %>
    <%= form.hidden_field :idn %>
  </div>

  <div class="field">
    <%= form.label :id_physician %>
    <%= form.text_field :id_physician %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>
  <div class="field">
    <%= form.label :prescription_drugs_type_id %>
    <%= form.select :prescription_drugs_type_id, options_from_collection_for_select(PrescriptionDrugsType.all, :_id, :description) , {:prompt => 'Selected Vendor'}  %>
    
  </div>

  <div class="field">
    <%= form.label :aacc_id %>
    <%= form.text_field :aacc_id %>
    <%= form.select :aacc_id, options_from_collection_for_select(Aacc.all, :_id, :idn) , {:prompt => 'Selected Vendor'}  %>
    
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.select :patient_id, options_from_collection_for_select(Patient.all, :_id, :name) , {:prompt => 'Selected Vendor'}  %>
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
