<p id="notice"><%= notice %></p>

<h1>Patient Aacc Prescriptions</h1>

<table>
  <thead>
    <tr>
      <th>Idn</th>
      <th>Id physician</th>
      <th>Value</th>
      <th>Prescription drugs type</th>
      <th>Aacc</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient_aacc_prescriptions.each do |patient_aacc_prescription| %>
      <tr>
        <td><%= patient_aacc_prescription.idn %></td>
        <td><%= patient_aacc_prescription.id_physician %></td>
        <td><%= patient_aacc_prescription.value %></td>
        <td><%= patient_aacc_prescription.prescription_drugs_type_id %></td>
        <td><%= patient_aacc_prescription.aacc_id %></td>
        <td><%= patient_aacc_prescription.patient_id %></td>
        <td><%= link_to 'Show', patient_aacc_prescription %></td>
        <td><%= link_to 'Edit', edit_patient_aacc_prescription_path(patient_aacc_prescription) %></td>
        <td><%= link_to 'Destroy', patient_aacc_prescription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render 'form', patient_aacc_prescription: @patient_aacc_prescription %>

<%= link_to 'New Patient Aacc Prescription', new_patient_aacc_prescription_path %>
