<p id="notice"><%= notice %></p>

<p>
  <strong>Idn:</strong>
  <%= @patient_aacc_prescription.idn %>
</p>

<p>
  <strong>Id physician:</strong>
  <%= @patient_aacc_prescription.id_physician %>
</p>

<p>
  <strong>Value:</strong>
  <%= @patient_aacc_prescription.value %>
</p>

<p>
  <strong>Prescription drugs type:</strong>
  <%= @patient_aacc_prescription.prescription_drugs_type_id %>
</p>

<p>
  <strong>Aacc:</strong>
  <%= @patient_aacc_prescription.aacc_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @patient_aacc_prescription.patient_id %>
</p>

<%= link_to 'Edit', edit_patient_aacc_prescription_path(@patient_aacc_prescription) %> |
<%= link_to 'Back', patient_aacc_prescriptions_path %>
