            <div class="card padding">
            
            <h4>BUZON DE INTERCONSULTAS</h4>
            <div>
            <p><%=  %> 
    <%= link_to "Buzón de entrada: 0",messages_url%><%= %>
                    <%=  %> 
               <p>             
    <%= link_to "Solicitudes realizadas: 0"%><%= %>
                  <p>                  
    <%= link_to "Crear Solicitud de Interconsulta realizadas",new_message_url%><%= %> <%=  %></div>
            </div>
            </div>