<nav class="nav  padding">
    <li class="nav-item">
    <%= link_to "Inicio", root_path,class:"nav-link"%>

    </li>
    <li class="nav-item">
    <%= link_to "Búsqueda de Pacientes", patients_path,class:"nav-link"%>

    </li>
    <li class="nav-item">
    <%= link_to "Registrar Nuevo Paciente", new_patient_url,class:"nav-link"%>

    </li>
    <li class="nav-item">
    <%= link_to "ADMIN BORRAR!!!", admin_url,class:"nav-link"%>

    </li>
    <li class="nav-item">
    <%= link_to "INICIAR SESION", user_session_url,class:"nav-link"%>

    </li>
    
</nav>