<%= form_with(model: patient_aacc_test) do |form| %>
  <% if patient_aacc_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient_aacc_test.errors.count, "error") %> prohibited this patient_aacc_test from being saved:</h2>

      <ul>
        <% patient_aacc_test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idn %>
    <%= form.number_field :idn %>
  </div>

  <div class="field">
    <%= form.label :answers %>
    <%= form.text_area :answers %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score %>
  </div>

  <div class="field">
    <%= form.label :exploration_type_id %>
    <%= form.text_field :exploration_type_id %>
  </div>

  <div class="field">
    <%= form.label :test_id %>
    <%= form.text_field :test_id %>
  </div>

  <div class="field">
    <%= form.label :aacc_id %>
    <%= form.text_field :aacc_id %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.text_field :patient_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
