
    <%= render "partials/aacc" %><%= link_to '<<Volver al Protocolo Clínico para la consulta' , :back %>
<hr>
<h1> Test de PFEIFFER</h1>


<hr>
<%= form_with(model: @patient_aacc_test) do |form| %>
  
  <div class="field">
    <%= form.hidden_field :idn %>
  </div>

    <div class="field">
    <%= hidden_field_tag 'operation', 'test_pfeiffer' %>
    
    
  </div>
  
  <div class="field">
    <%= form.hidden_field :answers %>
  </div>

  <div class="field">
    <%= form.hidden_field :score %>
  </div>  <div class="field">
    <%= form.hidden_field :operation %>
  </div>

  <div class="field">
    <%= form.hidden_field :exploration_type_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :test_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :aacc_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :patient_id %>
  </div>
    <div class="padding">
        <%=form.label :s1,"¿Qué día es hoy? Día del mes, mes, año (Cualquier fallo invalida la respuesta)(*) " %>
        <%= select_tag :s1, options_for_select([['ERROR', '1'],['RESPUESTA CORRECTA', '0']], params[:s1]) %>
    </div>
    <div class="padding">
        <%=form.label :s2,"¿Qué día de la semana es hoy? (*) " %>
        <%= select_tag :s2, options_for_select([['ERROR', '1'],['RESPUESTA CORRECTA', '0']], params[:s2]) %>
    </div>
    <div class="padding">
        <%=form.label :s3,"¿Dónde estamos ahora? (*)  Cualquier descripción es válida" %>
        <%= select_tag :s3, options_for_select([['ERROR', '1'],['RESPUESTA CORRECTA', '0']], params[:s3]) %>
    </div>
    <div class="padding">
        <%=form.label :s4,"¿Cuál es su numero de teléfono? (*) " %>
        <%= select_tag :s4, options_for_select([['ERROR', '1'],['RESPUESTA CORRECTA', '0']], params[:s4]) %>
    </div>
    <div class="padding">
        <%=form.label :s5,"¿Cuántos años tiene? (*) " %>
        <%= select_tag :s5, options_for_select([['ERROR', '1'],['RESPUESTA CORRECTA', '0']], params[:s5]) %>
    </div>
    <div class="padding">
        <%=form.label :s6,"¿Cuál es la fecha de su nacimiento? (*) " %>
        <%= select_tag :s6, options_for_select([['ERROR', '1'],['RESPUESTA CORRECTA', '0']], params[:s6]) %>
    </div>
    <div class="padding">
        <%=form.label :s7,"¿Quién es ahora el Presidente del Gobierno? (*) " %>
        <%= select_tag :s7, options_for_select([['ERROR', '1'],['RESPUESTA CORRECTA', '0']], params[:s7]) %>
    </div>
    <div class="padding">
        <%=form.label :s8,"¿Quién fue el anterior Presidente del Gobierno? (*) " %>
        <%= select_tag :s8, options_for_select([['ERROR', '1'],['RESPUESTA CORRECTA', '0']], params[:s8]) %>
    </div>
    <div class="padding">
        <%=form.label :s9,"¿Cuáles son los dos apellidos de su marde? (*) " %>
        <%= select_tag :s9, options_for_select([['ERROR', '1'],['RESPUESTA CORRECTA', '0']], params[:s9]) %>
    </div>
    <div class="padding">
        <%=form.label :s10,"Vaya restado de 3 en 3 desde 30 hasta llegar a 0. Repetir desde (*)  Cualquier error hace errónea" %>
        <%= select_tag :s10, options_for_select([['ERROR', '1'],['RESPUESTA CORRECTA', '0']], params[:s10]) %>
    </div>
<hr width=400>
    <div class="padding">
        <%=form.label :s11,"Nivel de escolaridad del paciente" %>
        <%= select_tag :s11, options_for_select([['No ha recibido educación primaria', '-1'],['Ha recibido educacion primaria', '0'],['Ha recibido estudios superiores', '1']], params[:s11]) %>
    </div>
<hr width=400>
<p>• 0-2 errores: normal
<p>• 3-4 errores: leve deterioro cognitivo
<p>• 5-7 errores: moderado deterioro cognitivo, patológico
<p>• 8-10 errores: importante deterioro cognitivo
<p>Se permite 1 error de más si no ha recibido educación primaria.
<p>Se permite 1 error de menos si ha recibido estudios superiores.

<hr width=400>

  <div class="padding">
    <button name="button" type="submit" class="btn btn-primary">Realizar Test Pfeiffer </button>
    </div>
<% end %>

<hr>
        