
    <%= render "partials/aacc" %><%= link_to '<<Volver al Protocolo Clínico para la consulta' , :back %>
<hr>
<h1>Test de KATZ</h1>
<hr>

<%= form_with(model: @patient_aacc_test) do |form| %>
  
  <div class="field">
    <%= form.hidden_field :idn %>
  </div>

    <div class="field">
    <%= hidden_field_tag 'operation', 'test_katz' %>
    
    
  </div>
  
  <div class="field">
    <%= form.hidden_field :answers %>
  </div>

  <div class="field">
    <%= form.hidden_field :score %>
  </div>  <div class="field">
    <%= form.hidden_field :operation %>
  </div>

  <div class="field">
    <%= form.hidden_field :exploration_type_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :test_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :aacc_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :patient_id %>
  </div>
    <div class="test">
        <%=form.label :s1,"Calificación del Test FAST(*) " %>
        <%= select_tag :s1, options_for_select([['•	A – Independiente en alimentación/continencia/movilidad/uso del inodoro/vestirse y bañarse', 'A'],
        ['•	B – Independiente para todas las funciones acteriores excepto una', 'B'],
        ['•	C – Independiente para todas excepto bañarse y otra función adicional', 'C'],
        ['•	D – Independiente para todas excepto bañarse/vestirse y otra función adicional', 'D'],
        ['•	E – Independiente para todas excepto bañarse/vestirse/uso del inodoro y otra función adicional', 'E'],
        ['•	F – Independiente para todas excepto bañarse/vestirse/uso del inodoro/movilidad y otra función adicional', 'F'],
        ['•	G – Dependiente en las seis funciones', 'G'],
        ['•	H – Dependiente en al menos dos funciones pero no clasificable como C/D/E/F', 'H']],params[:s1]) %>
    </div>
<hr>
    <h2>Valoracion del Test de Katz</h2>

  <div class="field">•	A – Independiente en alimentación/continencia/movilidad/uso del inodoro/vestirse y bañarse</div>

  <div class="field">•	B – Independiente para todas las funciones acteriores excepto una</div>

  <div class="field">•	C – Independiente para todas excepto bañarse y otra función adicional</div>

  <div class="field">•	D – Independiente para todas excepto bañarse/vestirse y otra función adicional</div>

  <div class="field">•	E – Independiente para todas excepto bañarse/vestirse/uso del inodoro y otra función adicional</div>

  <div class="field">•	F – Independiente para todas excepto bañarse/vestirse/uso del inodoro y otra función adicional</div>

  <div class="field">•	G – Dependiente en las seis funciones</div>

  <div class="field">•	H – Dependiente en al menos dos funciones pero no clasificable como C/D/E/F</div>
 <p>Independiente significa sin supervisión, dirección o ayuda personal activa, con las excepciones que se indican más abajo. Se basan en el estado actual y no en la capacidad de hacerlas. Se considera que un paciente que se niega a realizar una función no hace esa función, aunque se le considere capaz.
<p>Bañarse (con esponja, ducha o bañera):

<p>Independiente: necesita ayuda para lavarse una sola parte (como la espalda o una extremidad incapacitada) o se baña completamente sin ayuda.


<p>Dependiente: necesita ayuda para lavarse más de una parte del cuerpo, para salir o entrar en la bañera, o no se lava solo.
<p>Vestirse:

<p>Independiente: coge la ropa solo, se la pone, se pone adornos y abrigos y usa cremalleras (se excluye el atarse los zapatos).


<p>Dependiente: no se viste solo o permanece vestido parcialmente.
<p>Usar el retrete:

<p>Independiente: accede al retrete, entra y sale de él, se limpia los órganos excretores y se arregla la ropa (puede usar o no soportes mecánicos).


<p>Dependiente: usa orinal o cuña o precisa ayuda para acceder al retrete y utilizarlo.
<p>Movilidad:

<p>Independiente: entra y sale de la cama y se sienta y levanta de la silla solo (puede usar o no soportes mecánicos).


<p>Dependiente: precisa de ayuda para utilizar la cama y/o la silla; no realiza uno o más desplazamientos.
<p>Continencia:

<p>Independiente: control completo de micción y defecación.


<p>Dependiente: incontinencia urinaria o fecal parcial o total.
<p>Alimentación:
<p>Independiente: lleva la comida desde el plato o su equivalente a la boca (se excluyen cortar la carne y untar la mantequilla o similar).
<p>Dependiente: precisa ayuda para la acción de alimentarse, o necesita de alimentación enteral o parenteral.
link_to nil, "http://example.com"

<h4><%= link_to nil, "https://www.hipocampo.org/katz.asp" %> </h4>


  <div class="actions">
    <%= form.submit "Almacenar Test de Yesavage 4" %>
  </div>
<% end %>

<hr>


<%= link_to 'Back', patient_aacc_tests_path %>

