
    <%= render "partials/aacc" %><%= link_to '<<Volver al Protocolo Clínico para la consulta' , :back %>
<hr>
<h1>Test de FAST</h1>
<hr>

<%= form_with(model: @patient_aacc_test) do |form| %>
  
  <div class="field">
    <%= form.hidden_field :idn %>
  </div>

    <div class="field">
    <%= hidden_field_tag 'operation', 'test_fast' %>
    
    
  </div>
  
  <div class="field">
    <%= form.hidden_field :answers %>
  </div>

  <div class="field">
    <%= form.hidden_field :score %>
  </div>  <div class="field">
    <%= form.hidden_field :operation %>
  </div>

  <div class="field">
    <%= form.hidden_field :exploration_type_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :test_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :aacc_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :patient_id %>
  </div>
    <div class="test">
        <%=form.label :s1,"Calificación del Test FAST(*) " %>
        <%= select_tag :s1, options_for_select([['1.SIN DETERIORO COGNOSCITIVO', '1'],['2.DETERIORO COGNOSCITIVO MUY LEVE', '2'],['3.DETERIORO COGNOSCITIVO LEVE', '3'],['4.DÉFICIT COGNOSCITIVO MODERADO', '4'],['5.DÉFICIT COGNOSCITIVO GRAVE', '5'],['6.DÉFICIT COGNOSCITIVO MODERADAMENTE GRAVE', '6'],['7.DÉFICIT COGNOSCITIVO MUY GRAVE', '7']], params[:s1]) %>
    </div>
    <h2>1. SIN DETERIORO COGNOSCITIVO</h2>
    <p>
        <b>Diagnóstico clínico: Normal.</b>
        Características: No se aprecian déficit objetivos ni subjetivos.
        Comentarios: Las capacidades funcionales en las áreas ocupacional, social o familiar permanecen intactas (como hace 5 o 10 años).
    </p>
        <h2>2. DETERIORO COGNOSCITIVO MUY LEVE</h2>
    <p>
        <b>Diagnóstico clínico: Normal para su edad.</b>
        Características: Verbaliza dificultades para encontrar las palabras adecuadas, para recordar la ubicación de objetos...
        Comentarios: 
    </p>
        <h2>3.DETERIORO COGNOSCITIVO LEVE</h2>
    <p>
        <b>Diagnóstico clínico: Déficit limite.</b>
        Características: 
        Comentarios: 
    </p>
        <h2>4.DÉFICIT COGNOSCITIVO MODERADO</h2>
    <p>
        <b>Diagnóstico clínico: EA leve.</b>
        Características: 
        Comentarios: 
    </p>
        <h2>5.DÉFICIT COGNOSCITIVO GRAVE</h2>
    <p>
        <b>Diagnóstico clínico: EA moderada.</b>
        Características: 
        Comentarios: 
    </p>
        <h2>6.DÉFICIT COGNOSCITIVO MODERADAMENTE GRAVE</h2>
    <p>
        <b>Diagnóstico clínico: EA moderadamente severo.</b>
        Características: 
        Comentarios: 
    </p>
        <h2>7.DÉFICIT COGNOSCITIVO MUY GRAVE</h2>
    <p>
        <b>Diagnóstico clínico: EA muy severa.</b>
        Características: 
        Comentarios: 
    </p>
    <h4><%= link_to "Documentación", "https://www.fundacionreinasofia.es/Lists/Documentacion/Attachments/62/Informe%20AlzheimerAtencionPrimaria_final.pdf" %> </h4>
    
  <div class="actions">
    <%= form.submit "Almacenar Test FAST" %>
  </div>
<% end %>

<hr>


<%= link_to 'Back', patient_aacc_tests_path %>
