
    <%= render "partials/aacc" %><%= link_to '<<Volver al Protocolo Clínico para la consulta' , :back %>
<hr>
<h1>Test MEC</h1>

<%= form_with(model: @patient_aacc_test) do |form| %>
  
  <div class="field">
    <%= form.hidden_field :idn %>
  </div>

    <div class="field">
    <%= hidden_field_tag 'operation', 'test_mec' %>
    
    
  </div>
  
  <div class="field">
    <%= form.hidden_field :answers %>
  </div>

  <div class="field">
    <%= form.hidden_field :score %>
  </div>  
  <div class="field">
    <%= form.hidden_field :operation %>
  </div>

  <div class="field">
    <%= form.hidden_field :exploration_type_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :test_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :aacc_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :patient_id %>
  </div>
    
<hr>

<h4>Orientación</h4><div>
        <%=form.label :s1,"Dígame el día____ Fecha_____ Mes_____ Estación______ Año______ " %>
        <%= select_tag :s1, options_for_select([['0', '0'],['1', '1'],['2', '2'],['3', '3'],['4', '4'],['5', '5']], params[:s1]) %>
    </div><div>
        <%=form.label :s2,"Dígame el Hospital (o el lugar)____ Planta_____ Ciudad______ Provincia____ Nación______" %>
        <%= select_tag :s2, options_for_select([['0', '0'],['1', '1'],['2', '2'],['3', '3'],['4', '4'],['5', '5']], params[:s2]) %>
    </div>



Poner un punto por cada respuesta correcta
<p>
<hr width=400>
<h4>Fijación (memoria inmediata)</h4>
<div>
        <%=form.label :s3,"Repita estas 3 palabras: peseta, caballo, manzana. (Repetirlas hasta que las aprenda)" %>
        <%= select_tag :s3, options_for_select([['0', '0'],['1', '1'],['2', '2'],['3', '3']], params[:s3]) %>
    </div>
     Poner un punto por cada respuesta correcta
<p>

<hr width=400>
<h4>Concentración y cálculo</h4>

<div>
        <%=form.label :s4,"Si tiene 30 pesetas. y me va dando de 3 en 3, ¿cuántas le van quedando?" %>
        <%= select_tag :s4, options_for_select([['0', '0'],['1', '1'],['1', '1'],['1', '1'],['1', '1'],['1', '1'],['1', '1'],['1', '1'],['1', '1'],['1', '1'],['1', '1']], params[:s4]) %>
    </div>
    
<p>Poner un punto por cada sustracción correcta. 
<div>
        <%=form.label :s5,"Repita estos números: 5-9-2 (hasta que los aprenda). Ahora hacia atrás " %>
        <%= select_tag :s5, options_for_select([['0', '0'],['1', '1']], params[:s5]) %>
    </div>
    
    <p>Un punto por cada dígito que coloque en posición inversa correcta. 
<hr width=400>
<h4>Memoria (reciente)</h4>
<div>
        <%=form.label :s6,"¿Recuerda las tres palabras que le he dicho antes?
(3) ( ) " %>
        <%= select_tag :s6, options_for_select([['0', '0'],['1', '1']], params[:s6]) %>
    </div>
<p>Poner un punto por cada respuesta correcta
<hr width=400>
    <h4>Lenguaje y construcción</h4>
    <div>
        <%=form.label :s7,"Mostrar un bolígrafo “¿Qué es esto?”. Repetirlo con el reloj." %>
        <%= select_tag :s7, options_for_select([['0', '0'],['1', '1'],['2','2']], params[:s7]) %>
    </div>
    <p> Poner un punto por cada respuesta correcta 
    <div>
        <%=form.label :s8,"Repita esta frase: “en un trigal había cinco perros” . " %>
        <%= select_tag :s8, options_for_select([['0', '0'],['1', '1']], params[:s8]) %>
    </div>
    <p>Un fallo en una letra es 0 puntos en el ítem
    
    <div>
        <%=form.label :s9,"Una manzana y una pera son frutas, ¿verdad?, ¿Qué son el rojo y el verde?, ¿Qué son un perro y un gato?" %>
        <%= select_tag :s9, options_for_select([['0', '0'],['1', '1'],['2', '2']], params[:s9]) %>
    </div>
    
    <div>
        <%=form.label :s10,"Coja este papel con la mano derecha, dóblelo y póngalo encima de la mesa” " %>
        <%= select_tag :s10, options_for_select([['0', '0'],['1', '1'],['2', '2'],['3', '3']], params[:s10]) %>
    </div>
    <p>Poner un punto por cada respuesta correcta<div>
        <%=form.label :s11,"Lea esto y haga lo que dice: CIERRE LOS OJOS " %>
        <%= select_tag :s11, options_for_select([['0', '0'],['1', '1']], params[:s11]) %>
    </div>
    <p><div>
        <%=form.label :s12,"Escriba una frase " %>
        <%= select_tag :s12, options_for_select([['0', '0'],['1', '1']], params[:s12]) %>
    </div>
    <p>Frase: Advertir que no se considerará correcta si escribe su nombre. Si es necesario se le puede poner un ejemplo, pero insistiendo en que ha de escribir algo diferente. Debe construir una frase con sujeto, verbo y complemento para valorarla con un punto.
    <div>
        <%=form.label :s13,"Copie este dibujo " %>
        <%= select_tag :s13, options_for_select([['0', '0'],['1', '1']], params[:s13]) %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-left">
          <%= image_tag "test-minimental.jpg", class: '' %>

          </div>
        </div>
      </div>
    </div>
    <p>- Figura. Cada pentágono ha de tener exactamente 5 lados y 5 ángulos y debe entrelazarse en dos puntos de contacto.

<hr width=400>
    <p>
    (*) Para su cálculo excluimos las preguntas que hayan sido eliminadas, básicamente por analfabetismo o por imposibilidad física de cumplir un ítem (ej.: ceguera). La puntuación total corregida se obtiene por regla de tres. Por ejemplo si el paciente es ciego y no puede acceder a 4 de los 35 puntos posibles, la puntuación finalse calculará sobre 31 puntos posibles. Imaginemos que la puntuación total ha sido 20, aplicando la corrección obtenemos una puntuación (20x35/31) = 22,5 (redondearemos al núm. entero + próximo, el 23).
        <div>
        <%=form.label :s14,"Número de puntos a los que el paciente no puede acceder " %>
        <%= select_tag :s14, options_for_select([['0', '0'],['1', '1'],['2', '2'],['3', '3'],['4', '4'],['5', '5'],['6', '6'],['7', '7'],['8', '8'],['9', '9'],['10', '10']], params[:s13]) %>
    </div>
    
<hr width=400>
<h4><%= link_to "Documentación MEC", "https://www.infogerontologia.com/documents/vgi/escalas/mini_mental.pdf" %> </h4>
<hr>
<div class="padding">
    <button name="button" type="submit" class="btn btn-primary">Almacenar Test MEC </button>
    </div>
<% end %>
