    <%= render "partials/aacc" %><%= link_to '<<Volver al Protocolo Clínico para la consulta' , :back %>
<hr>
<h1>Test de LAWTON / BRODY</h1>

<hr>
<%= form_with(model: @patient_aacc_test) do |form| %>
  
  <div class="field">
    <%= form.hidden_field :idn %>
  </div>

    <div class="field">
    <%= hidden_field_tag 'operation', 'test_lawton-brody' %>
    
    
  </div>
  
  <div class="field">
    <%= form.hidden_field :answers %>
  </div>

  <div class="field">
    <%= form.hidden_field :score %>
  </div>  <div class="field">
    <%= form.hidden_field :operation %>
  </div>

  <div class="field">
    <%= form.hidden_field :exploration_type_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :test_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :aacc_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :patient_id %>
  </div>
    <div class="test">
        <%=form.label :s1,"Calificación de NO IMPLEMENTADO " %>
        <%= select_tag :s1, options_for_select([['1.SIN DETERIORO COGNOSCITIVO', '1'],['2.DETERIORO COGNOSCITIVO MUY LEVE', '2'],['3.DETERIORO COGNOSCITIVO LEVE', '3'],['4.DÉFICIT COGNOSCITIVO MODERADO', '4'],['5.DÉFICIT COGNOSCITIVO GRAVE', '5'],['6.DÉFICIT COGNOSCITIVO MODERADAMENTE GRAVE', '6'],['7.DÉFICIT COGNOSCITIVO MUY GRAVE', '7']], params[:s1]) %>
    </div>

<h1>SIN IMPLEMENTAR</h1>    
Capacidad para usar el Teléfono SELECTBOX
Hacer Compras SELECTBOX
Preparación de la Comida
Cuidado de la Casa
Lavado de la Ropa
Uso de Medios de Transporte
Responsabilidad respecto a su Medicación
Manejo de sus Asuntos Económicos
BOTON Hr
H1 
HR

  <div class="actions">
 
    <%= form.submit "Realizar Test de Lawton / Brody" %>
  </div>
<% end %>

        
<hr>
        
<%= link_to 'Back', patient_aacc_tests_path %>
