<p id="notice"><%= notice %></p>

<p>
  <strong>Idn:</strong>
  <%= @patient_aacc_test.idn %>
</p>

<p>
  <strong>Score:</strong>
  <%= @patient_aacc_test.score %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @patient_aacc_test.comments %>
</p>

<p>
  <strong>Exploration type:</strong>
  <%= @patient_aacc_test.exploration_type_id %>
</p>

<p>
  <strong>Test:</strong>
  <%= @patient_aacc_test.test_id %>
</p>

<p>
  <strong>Aacc:</strong>
  <%= @patient_aacc_test.aacc_id %>
</p>

<%= link_to 'Edit', edit_patient_aacc_test_path(@patient_aacc_test) %> |
<%= link_to 'Back', patient_aacc_tests_path %>
