
<p>
  <strong>Idn:</strong>
  <%= @patient_aacc_test.idn %>
</p>

<p>
  <strong>Answers:</strong>
  <%= @patient_aacc_test.answers %>
</p>

<p>
  <strong>Score:</strong>
  <%= @patient_aacc_test.score %>
</p>

<p>
  <strong>Exploration type:</strong>
  <%= ExplorationType.find(@patient_aacc_test.exploration_type_id).description %>
</p>

<p>
  <strong>Test:</strong>
  <%= Test.find(@patient_aacc_test.test_id).description %>
</p>

<p>
  <strong>Aacc:</strong>
  <%= Aacc.find(@patient_aacc_test.aacc_id).medicalrecord %>
</p>

<p>
  <strong>Patient:</strong>
  <%= Patient.find(@patient_aacc_test.patient_id).name %>
</p>

<%= link_to 'Edit', edit_patient_aacc_test_path(@patient_aacc_test) %> |
<%= link_to 'Back', patient_aacc_tests_path %>
