<p id="notice"><%= notice %></p>

<p>
  <strong>Medicalrecord:</strong>
  <%= @patient_aacc.medicalrecord %>
</p>

<p>
  <strong>Id activity type:</strong>
  <%= @patient_aacc.id_activity_type %>
</p>

<p>
  <strong>Id physician:</strong>
  <%= @patient_aacc.id_physician %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @patient_aacc.observations %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @patient_aacc.finished %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @patient_aacc.Patient_id %>
</p>

<%= link_to 'Edit', edit_patient_aacc_path(@patient_aacc) %> |
<%= link_to 'Back', patient_aaccs_path %>
