<%= form_with(model: profession) do |form| %>
  <% if profession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profession.errors.count, "error") %> prohibited this profession from being saved:</h2>

      <ul>
        <% profession.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idn %>
    <%= form.number_field :idn %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :description_EN %>
    <%= form.text_field :description_EN %>
  </div>

  <div class="field">
    <%= form.label :erase %>
    <%= form.check_box :erase %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
