<%= form_with(model: patient_aacc_disease) do |form| %>
  <% if patient_aacc_disease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient_aacc_disease.errors.count, "error") %> prohibited this patient_aacc_disease from being saved:</h2>

      <ul>
        <% patient_aacc_disease.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= form.label :idn %>
    <%= form.hidden_field :idn %>
  </div>  
  <div class="field">
    <%= form.label :aacc %>
    <%= form.select :aacc, options_from_collection_for_select(Aacc.where(_id: @aacc._id), :_id, :idn) , {:prompt => 'Selecciona...'}  %>
   
  </div>
  <div class="field">
    <%= form.label :patient %>
    <%= form.select :patient, options_from_collection_for_select(Patient.where(_id: @paciente._id), :_id, :name) , {:prompt => 'Selecciona...'}  %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :description_en %>
    <%= form.text_field :description_en %>
  </div>
  <div class="field">
    <%= form.label :diagnosis_dementium %>
    <%= form.select :diagnosis_dementium, options_from_collection_for_select(DiagnosisDementium.where(idn: '5'), :_id, :description)   %>
   
  </div>
  <div class="field">
    <%= form.label :diagnosis_ci %>
    <%= form.select :diagnosis_ci, options_from_collection_for_select(DiagnosisCi.where(idn: '7'), :_id, :description)  %>
   
  </div>
    <div class="field">
    <%= form.select :diagnosis_type, options_from_collection_for_select(DiagnosisType.where(idn: '3'), :_id, :description) %>
    
    
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
