<%= form_with(model: patient) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<hr width=400>

  <div class="small-container field">
    <%=form.label :name,"Nombre (*)"%>
    <%=form.text_field :name%>
  </div>

  <div class="small-container field">
        <%=form.label :surname,"Apellidos (*)"%>
        <%=form.text_field :surname %>
  </div>



  <div class="field">
    <%= form.label :gender,"Sexo (*)"%>
    <%=form.select(:gender, options_for_select([['Hombre', 'Hombre'], ['Mujer', 'Mujer']]), prompt: "Seleccionar...")%>
  
  </div>

  <div class="small-container field">
    <%=form.label :maritalstatus,"Estado civil (*)" %>
    <%=form.select(:maritalstatus, options_for_select([['Soltero', 'Soltero'], ['Casado', 'Casado']]), prompt: "Seleccionar...")%>
  </div>
<hr width=400>

  <div class="small-container field">
    <%= form.label :nif,"NIF (*)"%> 
    <%= form.text_field :nif %>
  </div>

  <div class="small-container field">
    <%= form.label :passport,"Pasaporte (si extranjero)"%>
    <%= form.text_field :passport %>
  </div>

  <div class="small-container field">
    <%= form.label :nss ,"Núm. Seg. Social" %>
    <%= form.text_field :nss %>
  </div>

  <div class="field">
    <%= form.label :medicalcard, "Tarjeta Sanitaria" %>
    <%= form.text_area :medicalcard %>
  </div>

  <hr width=400>

  <div class="small-container field">
    <%= form.hidden_field :idn %>
  </div>
  <div class="small-container field">
    <%= form.label :nhc, "NHC"%>
    <%= form.text_field :nhc %>
  </div>

<hr width=400>

  <div class="small-container field">
    <%= form.label :exitus, "Exitus (*)" %>
    <%=form.select(:exitus, options_for_select([['Sí', 'Sí'], ['No', 'No']]), prompt: "Seleccionar...")%>
  </div>

<hr width=400>

  <div class="small-container field">
    <%= form.label :telephone,"Teléfono fijo (*)"%>
    <%= form.text_field :telephone %>
  </div>

  <div class="small-container field">
    <%= form.label :telephone2,"Teléfono fijo 2" %>
    <%= form.text_field :telephone2 %>
  </div>

  <div class="small-container field">
    <%= form.label :mobilephone,"Teléfono móvil" %>
    <%= form.text_field :mobilephone %>
  </div>

<hr width=400>




  <div class="small-container field">
    <%= form.label :birthdate, "Fecha de nacimiento" %>
    <%= form.date_field :birthdate %>
  </div>

  <div class="small-container field">
    <%= form.label :birthcity,"Lugar de nacimiento" %>
    <%= form.text_field :birthcity %>
  </div>

  <div class="small-container field">
    <%= form.label :birthcountry,"País de nacimiento" %>
    <%= form.text_field :birthcountry %>
  </div>

  <div class="field">
    <%= form.label :adress,"Dirección" %>
    <%= form.text_field :adress %>
  </div>

  <div class="small-container field">
    <%= form.label :city,"Ciudad" %>
    <%= form.text_field :city %>
  </div>
  <div class="small-container field">
    <%= form.label :state,"Provincia" %>
    <%= form.text_field :state %>
  </div>

  <div class="small-container field">
    <%= form.label :country,"País" %>
    <%= form.text_field :country %>
  </div>




<hr width=400>
  <div class="small-container field">
    <%= form.label :scholarship,"Nivel de Estudios" %>
    <%=form.select(:scholarship, options_for_select([['Sin estudios', 'Sin estudios'],
    ['Educacion primaria', 'Educacion primaria'],
    ['Educación secundaria', 'Educación secundaria'],
    ['Bachillerato', 'Bachillerato'],
    ['Formación profesional', 'Formación profesional'],
    ['Carrera universitaria', 'Carrera universitaria'],
    ['Másteres y postgrados', 'Másteres y postgrados'],
    ['Doctorado', 'Doctorado']]), prompt: "Seleccionar...")%>
  </div>
  <div class="small-container field">
    <%= form.label :employeestatus,"Situación Laboral" %>
    <%=form.select(:employeestatus, options_for_select([['Jubilado', 'Jubilado'],
    ['Trabajando', 'Trabajando']]), prompt: "Seleccionar...")%>
  </div>

  <div class="small-container field">
    <%= form.label :profession,"Profesión" %>
    <%= form.select :profession,options_from_collection_for_select(Profession.all, :_id, :description) , {:prompt => 'Selecciona'}  %>
  </div>

  <div class="small-container field">
    <%= form.label :incoming_rate_id, "Situación Económica" %>
    <%=form.select(:incoming_rate_id, options_for_select([['Rico', 'Rico'],
    ['Pobre', 'Pobre']]), prompt: "Seleccionar...")%>
  </div>



  <div class="field">
    <%= form.label :institution_id,"Institucionalizado" %>
    <%= form.text_field :institution_id %>
  </div>

  <div class="field">
    <%= form.label :comments,"Comentarios" %>
    
    <div class="text">
      <%= form.text_area :comments %>
    </div>
  </div>
  
  <div class="field">
    <%= form.hidden_field :medicalrecord %>
  </div>




  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
