<%= form_with(model: patient) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<hr width=400>

  <div class="small-container field">
    <%=form.label :name,"Nombre (*)"%>
    <%=form.text_field :name%>
  </div>

  <div class="small-container field">
        <%=form.label :surname,"Apellidos (*)"%>
        <%=form.text_field :surname %>
  </div>



  <div class="field">
    <%= form.label :gender,"Sexo (*)"%>
    <%=form.select(:gender, options_for_select([['Hombre', 'Hombre'], ['Mujer', 'Mujer']]), prompt: "Seleccionar...")%>
  
  </div>

  <div class="small-container field">
    <%=form.label :maritalstatus,"Estado civil (*)" %>
    <%=form.select(:maritalstatus, options_for_select([['Soltero', 'Soltero'], ['Casado', 'Casado']]), prompt: "Seleccionar...")%>
  </div>
<hr width=400>

  <div class="small-container field">
    <%= form.label :nif,"NIF (*)"%> 
    <%= form.text_field :nif %>
  </div>

  <div class="small-container field">
    <%= form.label :passport,"Pasaporte (si extranjero)"%>
    <%= form.text_field :passport %>
  </div>

  <div class="small-container field">
    <%= form.label :nss ,"Núm. Seg. Social" %>
    <%= form.text_field :nss %>
  </div>

  <div class="field">
    <%= form.label :medicalcard, "Tarjeta Sanitaria" %>
    <%= form.text_area :medicalcard %>
  </div>

  <hr width=400>

  <div class="small-container field">
    <%= form.hidden_field :idn %>
  </div>
  <div class="small-container field">
    <%= form.label :nhc, "NHC"%>
    <%= form.text_field :nhc %>
  </div>

<hr width=400>

  <div class="small-container field">
    <%= form.label :exitus, "Exitus (*)" %>
    <%=form.select(:exitus, options_for_select([['Sí', 'Sí'], ['No', 'No']]), prompt: "Seleccionar...")%>
  </div>

<hr width=400>

  <div class="small-container field">
    <%= form.label :telephone,"Teléfono fijo (*)"%>
    <%= form.text_field :telephone %>
  </div>

  <div class="small-container field">
    <%= form.label :telephone2,"Teléfono fijo 2" %>
    <%= form.text_field :telephone2 %>
  </div>

  <div class="small-container field">
    <%= form.label :mobilephone,"Teléfono móvil" %>
    <%= form.text_field :mobilephone %>
  </div>

<hr width=400>













  <div class="small-container field">
    <%= form.label :birthdate %>
    <%= form.date_field :birthdate %>
  </div>

  <div class="small-container field">
    <%= form.label :birthcity %>
    <%= form.number_field :birthcity %>
  </div>

  <div class="small-container field">
    <%= form.label :birthcountry %>
    <%= form.number_field :birthcountry %>
  </div>

  <div class="field">
    <%= form.label :adress %>
    <%= form.text_field :adress %>
  </div>

  <div class="small-container field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>
  <div class="small-container field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="small-container field">
    <%= form.label :country %>
    <%= form.number_field :country %>
  </div>




<hr width=400>
  <div class="small-container field">
    <%= form.label :scholarship %>
    <%= form.number_field :scholarship %>
  </div>
  <div class="small-container field">
    <%= form.label :employeestatus,"Situación Laboral" %>
    <%= form.number_field :employeestatus %>
  </div>

  <div class="field">
    <%= form.label :profession,"Profesión" %>
    <%= form.number_field :profession %>
  </div>

  <div class="field">
    <%= form.label :incoming_rate_id, "Situación Económica" %>
    <%= form.number_field :incoming_rate_id %>
  </div>



  <div class="field">
    <%= form.label :institution_id,"Institucionalizado" %>
    <%= form.number_field :institution_id %>
  </div>

  <div class="container-fluid field">
    <%= form.label :comments,"Comentarios" %>
    <%= form.text_area :comments %>
  </div>
  
  <div class="field">
    <%= form.hidden_field :medicalrecord %>
  </div>




  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
