<p id="notice"><%= notice %></p>

<h1>Búsqueda de Pacientes</h1>

<table>
  <thead>
    <tr>
      <th>Surname</th>
      <th>Name</th>
      <th>Nhc</th>
      <th>Nif</th>
      <th>Birthdate</th>
      <th>Gender</th>
      <th>Exitus</th>
      <th>PACIENTE</th>
      <th>HIST. CLINICA</th>
      


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>


        <td><%= patient.surname %></td>
        <td><%= patient.name %></td>
        <td><%= patient.nhc %></td>

        <td><%= patient.nif %></td>
        <td><%= patient.birthdate %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.exitus %></td>
        <td><%= link_to 'Más datos', patient  %></td>
        <td><%= link_to 'Ver Historia ROTO', patient_aaccs_path(patient) %></td>

        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
