
<body>
<h1>Búsqueda de Pacientes</h1>
<p>         
<div>
<%= form_with url: "/search", method: :get do |form| %>
<%=form.label :search_field,"Buscar" %>
  <%= select_tag :search_field, options_for_select([['Todos los campos', '0'],['APELLIDOS', '0'],['NOMBRE', '0'],['NHC', '0'],['NIF', '0'],['F.NAC', '0'],['SEXO', '0'],['EXITUS', '0'],['PACIENTE', '0'],['HIST. CLINICA', '0']], params[:search_field]) %>
    <%= form.text_field :search_text %>
  <%=form.label :search_order,"Opciones de búsqueda" %>
  <%= select_tag :search_order, options_for_select([['Búsqueda por defecto', '0'],['Orden Ascendente', '0'],['Orden Descendente', '0']], params[:search_order]) %>
<% end %>
  
</div>
    
    </p>

<table class="table table-striped ">
  <thead>
    <tr>
      <th>IDN</th>
      <th>APELLIDOS</th>
      <th>NOMBRE</th>
      <th>NHC</th>
      <th>NIF</th>
      <th>F.NAC</th>
      <th>SEXO</th>
      <th>EXITUS</th>
      <th>PACIENTE</th>
      <th>HIST. CLINICA</th>
      


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>


        <td><%= patient.idn %></td>
        <td><%= patient.surname %></td>
        <td><%= patient.name %></td>
        <td><%= patient.nhc %></td>

        <td><%= patient.nif %></td>
        <td><%= patient.birthdate %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.exitus %></td>
        <td><%= link_to 'Más datos', patient  %></td>
        <td><%= link_to 'Ver Historia', patient_aaccs_path(patient) %></td>

        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>

        
</body>