<p id="notice"><%= notice %></p>

<h1>Exploration Types</h1>

<table>
  <thead>
    <tr>
      <th>Idn</th>
      <th>Description</th>
      <th>Description en</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exploration_types.each do |exploration_type| %>
      <tr>
        <td><%= exploration_type.idn %></td>
        <td><%= exploration_type.description %></td>
        <td><%= exploration_type.description_EN %></td>
        <td><%= link_to 'Show', exploration_type %></td>
        <td><%= link_to 'Edit', edit_exploration_type_path(exploration_type) %></td>
        <td><%= link_to 'Destroy', exploration_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exploration Type', new_exploration_type_path %>
