<p id="notice"><%= notice %></p>

<p>
  <strong>Idn:</strong>
  <%= @test.idn %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>

<p>
  <strong>Description en:</strong>
  <%= @test.description_EN %>
</p>

<p>
  <strong>Exploration type:</strong>
  <%= @test.exploration_type_id %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
