<%= form_with(model: aacc) do |form| %>
  <% if aacc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aacc.errors.count, "error") %> prohibited this aacc from being saved:</h2>

      <ul>
        <% aacc.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :medicalrecord, "Paciente" %>
    <%= form.text_field :medicalrecord %>
  </div>  
  <div class="field">
    <%= form.label :medicalrecord,"NHC" %>
    <%= form.number_field :medicalrecord %>
  </div>

  <div class="field">
    <%= form.label :id_activity_type, "Tipo de actividad" %>
    <%= form.select(:id_activity_type, options_for_select([['AE', 'AE'], ['AP', 'AP']]), prompt: "Seleccionar...")%>
 </div>

  <div class="field">
    <%= form.label :id_physician, "Facultativo" %>
    <%= form.select(:id_physician, options_for_select([['Doctor Strange', 'Doctor Strange'], ['Doctor Octopus', 'Doctor Octopus']]), prompt: "Seleccionar...")%>
  </div>

  <div class="field">
    <%= form.label :observations %>
    <%= form.text_area :observations %>
  </div>

  <div class="field">
    <%= form.hidden_field :finished %>
  </div>

  <div class="field">
    <%= form.hidden_field :Patient_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
