
<h1>Historia Clínica | Actividad Asistencial del Paciente</h1>
<hr>

    <%= render "partials/patient" %>
<hr>

<%= link_to '<< Volver a Listado de Pacientes', patients_url%>

<div class=""><div class="container">
  <div class="row">
    <div class="col">     <div class="d-flex justify-content-center">
      <%= image_tag "new-icon-png-24.png", style: 'height:4vw' %>
      </div>     <div class="d-flex justify-content-center">
      <li class="nav-item">
        <%= link_to "Crear nueva Consulta",new_patient_aacc_url%>
      </li>
      </div>
    </div>
    <div class="col">     <div class="d-flex justify-content-center">
      <%= image_tag "history335.png", style: 'height:4vw;width:3vw' %>
      </div>     <div class="d-flex justify-content-center">
      <li class="nav-item">


        <%=link_to "Informe de Historia Completa",all_history_url(:patient_id => @paciente)%>
      </li>
      </div>
    </div>
    <div class="col">     <div class="d-flex justify-content-center">
      <%= image_tag "history335.png", style: 'height:4vw;width:3vw' %>
      </div>     <div class="d-flex justify-content-center">
      <li class="nav-item">
    <%=link_to "Historia de Sintomatología Cognitiva",sc_history_url(:patient_id => @paciente)%>
      </li>
      </div>
    </div>
    <div class="col">     <div class="d-flex justify-content-center">
      <%= image_tag "history335.png", style: 'height:4vw;width:3vw' %>
      </div>     <div class="d-flex justify-content-center">
      <li class="nav-item">
    <%=link_to "Historia de Sintomatología No Cognitiva",snc_history_url(:patient_id => @paciente)%>
      </li>
      </div>
    </div>
    <div class="col">     <div class="d-flex justify-content-center">
      <%= image_tag "history335.png", style: 'height:4vw;width:3vw' %>
      </div>     <div class="d-flex justify-content-center">
      <li class="nav-item">
    <%=link_to "Historia de Exploración Funcional",fe_history_url(:patient_id => @paciente)%>
      </li>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col">     <div class="d-flex justify-content-center">
      <%= image_tag "history335.png", style: 'height:4vw;width:3vw' %>
      </div>     <div class="d-flex justify-content-center">
      <li class="nav-item">
    <%=link_to "Historia de Pruebas Complementarias",pc_history_url(:patient_id => @paciente)%>
      </li>
      </div>
    </div>
    <div class="col">     <div class="d-flex justify-content-center">
      <%= image_tag "history335.png", style: 'height:4vw;width:3vw' %>
      </div>     <div class="d-flex justify-content-center">
      <li class="nav-item">
    <%=link_to "Historia de Diagnósticos",diagnosis_history_url(:patient_id => @paciente)%>
      </li>
      </div>
    </div>
    <div class="col">     <div class="d-flex justify-content-center">
      <%= image_tag "history335.png", style: 'height:4vw;width:3vw' %>
      </div>     <div class="d-flex justify-content-center">
      <li class="nav-item">       
        <%= link_to 'Historia de Hábitos',habits_history_url(:patient_id => @paciente) %>
  
      </li>
      </div>
    </div>
    <div class="col">     <div class="d-flex justify-content-center">
      <%= image_tag "history335.png", style: 'height:4vw;width:3vw' %>
      </div>     <div class="d-flex justify-content-center">
      <li class="nav-item">
    <%=link_to "Historia de Patologías Intercurrentes",pi_history_url(:patient_id => @paciente) %>
      </li>
      </div>
    </div>
    <div class="col">     <div class="d-flex justify-content-center">
      <%= image_tag "history335.png", style: 'height:4vw;width:3vw' %>
      </div>     <div class="d-flex justify-content-center">
      <li class="nav-item">
    <%=link_to "Historia de Prescripción Farmacológica",pf_history_url(:patient_id => @paciente)%>
      </li>
      </div>
    </div>
  </div>
</div>
</div>

<hr>
<h2>Evolución DCL por Consulta</h2>
<hr>
<h2>Listado de Consultas del Paciente</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>NHC</th>
      <th>CONSULTA</th>
      <th>FECHA</th>
      <th>TIPO</th>
      <th>FACULTATIVO</th>
      <th>DETALLES</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aaccs.each do |aacc| %>
      <tr>
        <td><%= aacc.medicalrecord %></td>
        <td><%= aacc.idn %></td>
        <td><%= aacc.created_at %></td>
        <td><%= aacc.id_activity_type %></td>
        <td><%= aacc.id_physician %></td>
        <td><%= link_to 'Ver Historia Consulta', patient_aacc_url(:patient_id => aacc.Patient_id, :id => aacc) %></td>
      </tr>
    <% end %>
  </tbody>
<table>

</table>

<br>
<%= link_to 'New Aacc', new_patient_aacc_url %>

