<p id="notice"><%= notice %></p>

<h1>Historia Clínica | Actividad Asistencial del Paciente</h1>
<hr>

    <%= render "partials/patient" %>
<hr>

<%= link_to '<< Volver a Listado de Pacientes', patients_url%>
<div class="">
  <li class="nav-item">
    <%= link_to "Crear nueva Consulta",new_patient_aacc_url%>
  </li>
    <%=link_to "Informe de Historia Completa"%>
    <%=link_to "Historia de Sintomatología No Cognitiva"%>
    <%=link_to "Historia de Exploración Funcional"%>
    <%=link_to "Historia de Pruebas Complementarias"%>
    <%=link_to "Historia de Diagnósticos"%>
    <%=link_to "Historia de Hábitos"%>
    <%=link_to "Historia de Patologías Intercurrentes"%>
    <%=link_to "Historia de Prescripción Farmacológica"%>




</div>

<hr>
<h2>Evolución DCL por Consulta</h2>
<hr>
<h2>Listado de Consultas del Paciente</h2>
<table>
  <thead>
    <tr>
      <th>NHC</th>
      <th>CONSULTA</th>
      <th>FECHA</th>
      <th>TIPO</th>
      <th>FACULTATIVO</th>
      <th>DETALLES</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aaccs.each do |aacc| %>
      <tr>
        <td><%= aacc.medicalrecord %></td>
        <td><%= aacc.idn %></td>
        <td><%= aacc.created_at %></td>
        <td><%= aacc.id_activity_type %></td>
        <td><%= aacc.id_physician %></td>
        <td><%= link_to 'Ver Historia Consulta', patient_aacc_url(:patient_id => aacc.Patient_id, :id => aacc) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th>Medicalrecord</th>
      <th>Id activity type</th>
      <th>Id physician</th>
      <th>Observations</th>
      <th>Finished</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aaccs.each do |aacc| %>
      <tr>
        <td><%= aacc.medicalrecord %></td>
        <td><%= aacc.id_activity_type %></td>
        <td><%= aacc.id_physician %></td>
        <td><%= aacc.observations %></td>
        <td><%= aacc.finished %></td>
        <td><%= aacc.Patient_id %></td>
        <td><%= link_to 'Show', patient_aacc_url(:patient_id => aacc.Patient_id, :id => aacc) %></td>
        <td><%= link_to 'Edit', edit_patient_aacc_url(:patient_id => aacc.Patient_id, :id => aacc) %></td>
        <td><%= link_to 'Destroy', patient_aacc_url(:patient_id => aacc.Patient_id, :id => aacc), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aacc', new_patient_aacc_url %>
