<p id="notice"><%= notice %></p>

<h1>Aaccs</h1>

<table>
  <thead>
    <tr>
      <th>Medicalrecord</th>
      <th>Id activity type</th>
      <th>Id physician</th>
      <th>Observations</th>
      <th>Finished</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aaccs.each do |aacc| %>
      <tr>
        <td><%= aacc.medicalrecord %></td>
        <td><%= aacc.id_activity_type %></td>
        <td><%= aacc.id_physician %></td>
        <td><%= aacc.observations %></td>
        <td><%= aacc.finished %></td>
        <td><%= aacc.Patient_id %></td>
        <td><%= link_to 'Show', patient_aacc_url(:patient_id => aacc.Patient_id, :id => aacc) %></td>
        <td><%= link_to 'Edit', edit_patient_aacc_url(:patient_id => aacc.Patient_id, :id => aacc) %></td>
        <td><%= link_to 'Destroy', patient_aaccs_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aacc', new_patient_aacc_url %>
