<p id="notice"><%= notice %></p>

<p>
  <strong>Medicalrecord:</strong>
  <%= @aacc.medicalrecord %>
</p>

<p>
  <strong>Id activity type:</strong>
  <%= @aacc.id_activity_type %>
</p>

<p>
  <strong>Id physician:</strong>
  <%= @aacc.id_physician %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @aacc.observations %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @aacc.finished %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @aacc.Patient_id %>
</p>

<%= link_to 'Edit', edit_patient_aacc_url(@aacc) %> |
<%= link_to 'Back', patient_aaccs_path(@aacc.Patient_id) %>
