<p id="notice"><%= notice %></p>

<h1>Diagnosis Types</h1>

<table>
  <thead>
    <tr>
      <th>Idn</th>
      <th>Description</th>
      <th>Description en</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnosis_types.each do |diagnosis_type| %>
      <tr>
        <td><%= diagnosis_type.idn %></td>
        <td><%= diagnosis_type.description %></td>
        <td><%= diagnosis_type.description_en %></td>
        <td><%= link_to 'Show', diagnosis_type %></td>
        <td><%= link_to 'Edit', edit_diagnosis_type_path(diagnosis_type) %></td>
        <td><%= link_to 'Destroy', diagnosis_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnosis Type', new_diagnosis_type_path %>
